<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>TODOs</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<h3>
				TODO > <span th:text="${todo.name}"></span>
			</h3>
		</div>

		<div class="row">
			<div class="col-md-4">
				<ul class="list-group">
					<li th:each="task : ${todo.tasks}" class="list-group-item">
						
						<div th:if="${task.completed}">
							<s th:text="${task.name}"></s>
							<form th:action="@{'/todos/'+${todo.id}+'/tasks/'+${task.id}}"
							method="post" style="float: right">
							<input type="submit" class="btn btn-primary" value="Toggle" />
						</form>
						</div> <!-- ELSE -->
						<div th:unless="${task.completed}">
							<span th:text="${task.name}"></span>
							<form th:action="@{'/todos/'+${todo.id}+'/tasks/'+${task.id}}"
							method="post" style="float: right">
							<input type="submit" class="btn btn-primary" value="Toggle" />
						</form>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>